html
    head
    body
        .mdl-layout__container
            .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
                header.mdl-layout__header
                    .mdl-layout__header-row
                        span.dl-layout-title
                            h3 Titre
                        .mdl-layout-spacer
                        .mdl-navigation
                            a.mdl-navigation__link(ui-sref="home")
                                h5 Home
                            a.mdl-navigation__link(ui-sref="about")
                                h5 About
                .mdl-layout__content.docs-layout-content
                    .mdl-components.mdl-js-components.mdl-cell.mdl-cell--12-col
                        ui-view   
            