html
    head
    body
        .mdl-layout__container(style="border: 0px solid blue;")
            .mdl-grid.mdl-grid--no-spacing(style="border: 0px solid green;padding:0;")
                .mdl-cell.mdl-cell--12-col(style="border: 0px solid red;margin:0;padding:10px;border-bottom: 5px solid grey;")
                    usd-player
                .mdl-cell.mdl-cell--12-col(style="border: 0px solid red;margin:0;border-bottom: 5px solid grey;", ng-show="showPlaylist == true")
                    usd-playlist
                .mdl-cell.mdl-cell--12-col(style="border: 0px solid red;margin:0;", ng-show="showLogger == true")
                    usd-logger                    
            